In [1]:
import pandas as pd
from model import Company, StockLog
from model import start_engine

In [2]:
engine = start_engine()

In [31]:
company = Company().query().get('ABC')

In [32]:
stock_logs = StockLog().query().filter(StockLog.company==company).order_by(StockLog.date)

In [33]:
df = pd.read_sql(stock_logs.statement, engine)

In [34]:
df

,date,code,opening,high,low,closing,adjusted,volume,prediction,sma,ema,per,rank,cap
0,2000-01-03,ABC,0.71,0.71,0.68,0.68,0.28,121466,None,None,None,None,None,None
1,2000-01-04,ABC,0.68,0.70,0.68,0.70,0.29,150276,None,None,None,None,None,None
2,2000-01-05,ABC,0.68,0.69,0.67,0.68,0.28,303203,None,None,None,None,None,None
3,2000-01-06,ABC,0.68,0.68,0.67,0.67,0.27,358754,None,None,None,None,None,None
4,2000-01-09,ABC,0.66,0.67,0.66,0.67,0.27,265345,None,None,None,None,None,None
5,2000-01-10,ABC,0.69,0.69,0.67,0.67,0.27,76312,None,None,None,None,None,None
6,2000-01-11,ABC,0.67,0.68,0.67,0.67,0.27,166240,None,None,None,None,None,None
7,2000-01-12,ABC,0.67,0.67,0.67,0.67,0.27,27459,None,None,None,None,None,None
8,2000-01-13,ABC,0.67,0.69,0.67,0.69,0.28,68667,None,None,None,None,None,None
9,2000-01-16,ABC,0.67,0.68,0.67,0.68,0.28,410622,None,None,None,None,None,None
10,2000-01-17,ABC,0.68,0.69,0.67,0.69,0.28,189665,None,None,None,None,None,None
11,2000-01-18,ABC,0.69,0.69,0.67,0.67,0.27,68088,None,None,None,None,None,None
12,2000-01-19,ABC,0.67,0.68,0.67,0.67,0.27,440988,None,None,None,None,None,None
13,2000-01-20,ABC,0.68,0.69,0.67,0.69,0.28,413038,None,None,None,None,None,None
14,2000-01-23,ABC,0.67,0.67,0.67,0.67,0.27,45206,None,None,None,None,None,None
15,2000-01-24,ABC,0.67,0.67,0.67,0.67,0.27,53814,None,None,None,None,None,None
16,2000-01-25,ABC,0.69,0.69,0.69,0.69,0.28,0,None,None,None,None,None,None
17,2000-01-26,ABC,0.67,0.67,0.67,0.67,0.27,24262,None,None,None,None,None,None
18,2000-01-27,ABC,0.67,0.69,0.67,0.69,0.28,93071,None,None,None,None,None,None
19,2000-01-30,ABC,0.67,0.69,0.67,0.68,0.28,84626,None,None,None,None,None,None
20,2000-01-31,ABC,0.68,0.69,0.68,0.68,0.28,64352,None,None,None,None,None,None
21,2000-02-01,ABC,0.68,0.68,0.68,0.68,0.28,170988,None,None,None,None,None,None
22,2000-02-02,ABC,0.68,0.69,0.68,0.68,0.28,203404,None,None,None,None,None,None
23,2000-02-03,ABC,0.67,0.68,0.67,0.68,0.28,183641,None,None,None,None,None,None
24,2000-02-06,ABC,0.68,0.69,0.67,0.69,0.28,143539,None,None,None,None,None,None
25,2000-02-07,ABC,0.68,0.68,0.65,0.65,0.27,46617,None,None,None,None,None,None
26,2000-02-08,ABC,0.64,0.64,0.59,0.60,0.25,261988,None,None,None,None,None,None
27,2000-02-09,ABC,0.60,0.60,0.60,0.60,0.25,38449,None,None,None,None,None,None
28,2000-02-10,ABC,0.59,0.59,0.54,0.58,0.24,245661,None,None,None,None,None,None
29,2000-02-13,ABC,0.56,0.60,0.56,0.60,0.25,42281,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4927,2019-05-10,ABC,3.73,3.76,3.61,3.62,3.62,4108490,None,None,None,None,None,None
4928,2019-05-13,ABC,3.64,3.66,3.52,3.55,3.55,3145096,None,None,None,None,None,None
4929,2019-05-14,ABC,3.50,3.52,3.43,3.44,3.44,4894818,None,None,None,None,None,None
4930,2019-05-15,ABC,3.47,3.60,3.47,3.57,3.57,5660415,None,None,None,None,None,None
4931,2019-05-16,ABC,3.60,3.67,3.57,3.60,3.60,5501425,None,None,None,None,None,None
4932,2019-05-17,ABC,3.67,3.75,3.65,3.74,3.74,3475322,None,None,None,None,None,None
4933,2019-05-20,ABC,3.84,3.88,3.72,3.75,3.75,2700106,None,None,None,None,None,None
4934,2019-05-21,ABC,3.75,3.96,3.71,3.94,3.94,2818755,None,None,None,None,None,None
4935,2019-05-22,ABC,4.00,4.22,3.97,4.12,4.12,5866637,None,None,None,None,None,None
4936,2019-05-23,ABC,4.20,4.40,4.16,4.38,4.38,4706429,None,None,None,None,None,None
4937,2019-05-24,ABC,4.37,4.37,4.20,4.24,4.24,3576168,None,None,None,None,None,None
4938,2019-05-27,ABC,4.25,4.29,4.12,4.15,4.15,2247144,None,None,None,None,None,None
4939,2019-05-28,ABC,4.17,4.25,4.17,4.20,4.20,3148111,None,None,None,None,None,None
4940,2019-05-29,ABC,4.13,4.16,4.09,4.12,4.12,1920273,None,None,None,None,None,None
4941,2019-05-30,ABC,4.09,4.14,4.02,4.07,4.07,2411121,None,None,None,None,None,None
4942,2019-05-31,ABC,4.05,4.12,4.04,4.11,4.11,1851653,None,None,None,None,None,None
4943,2019-06-03,ABC,4.05,4.09,4.00,4.00,4.00,1652824,None,None,None,None,None,None
4944,2019-06-04,ABC,3.98,4.03,3.96,4.00,4.00,2472124,None,None,None,None,None,None
4945,2019-06-05,ABC,4.05,4.09,3.91,3.92,3.92,2414645,None,None,None,None,None,None
4946,2019-06-06,ABC,3.91,4.01,3.90,3.96,3.96,2497488,None,None,None,None,None,None
4947,2019-06-11,ABC,4.10,4.26,4.08,4.22,4.22,2220809,None,None,None,None,None,None
4948,2019-06-12,ABC,4.22,4.25,4.12,4.17,4.17,2241155,None,None,None,None,None,None
4949,2019-06-13,ABC,4.15,4.20,4.09,4.14,4.14,1750605,None,None,None,None,None,None
4950,2019-06-14,ABC,4.11,4.13,4.08,4.10,4.10,4213879,None,None,None,None,None,None
4951,2019-06-17,ABC,4.10,4.15,3.99,4.01,4.01,2846867,None,None,None,None,None,None
4952,2019-06-18,ABC,4.01,4.14,4.01,4.09,4.09,2955663,None,None,None,None,None,None
4953,2019-06-19,ABC,4.09,4.18,4.06,4.15,4.15,2361677,None,None,None,None,None,None
4954,2019-06-20,ABC,4.19,4.25,4.13,4.22,4.22,2094871,None,None,None,None,None,None
4955,2019-06-21,ABC,4.18,4.29,4.16,4.19,4.19,8839627,None,None,None,None,None,None
4956,2019-06-24,ABC,4.15,4.23,4.15,4.21,4.21,2568380,None,None,None,None,None,None